<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297920533060-c04p0kt1ji891k0n7p0dn1m24b0r3trg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297920533060-c04p0kt1ji891k0n7p0dn1m24b0r3trg</string>
	<key>API_KEY</key>
	<string>AIzaSyC3-bJemkzKugzfDjE6Z-GwFZbI74TXJac</string>
	<key>GCM_SENDER_ID</key>
	<string>297920533060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ch.solit.koino</string>
	<key>PROJECT_ID</key>
	<string>koino-d6c1d</string>
	<key>STORAGE_BUCKET</key>
	<string>koino-d6c1d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297920533060:ios:1eef9437810be02e932211</string>
</dict>
</plist>